// Import the theme's main SCSS file
@import "../_includes/bulma-clean-theme/assets/css/app.scss";

// Overrides for the logo (profile image)
.masthead .logo img {
  width: 150px; // Adjust the value to change the size of the image
  height: 150px; // Adjust the value to change the size of the image
  border-radius: 50%; // Change to a different value for a different border-radius
}
