body {
  background-color: #333333;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Style the header */
h1 {
  margin-top: 50px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px auto;
  display: block;
}
